@use "../helpers" as *;

.accordion {
  &__item {
    background-color: var(--color-light);
    color: var(--color-dark);
    margin: rem(10) 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__control {
    width: 100%;
    padding: rem(12);
    min-height: rem(48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;

    &.active .accordion__control-icon {
      rotate: 45deg;
    }
    &-icon {
      @include square(rem(30));

      border-radius: 50%;
      display: inline-block;
      background-color: #FB6406;
      position: relative;
      transition: rotate 0.2s ease-in-out;
      &::before, &::after {
        content: "";
        height: rem(2);
        width: 70%;
        background-color: var(--color-light);
        @include abs-center;
      }
      &::before {
        rotate: 90deg;
      }
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  &__content {
    font-weight: 300;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #fb6406, transparent)
    1;
    &-title {

    }
    &-text {
      margin-top: rem(12);
      color: var(--color-accent);
      font-weight: 500;
    }
  }
}