@use "../helpers" as *;

.accordion {
  &__item {
    background-color: var(--bg-secondary);
    margin: rem(16) 0;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__control {
    width: 100%;
    padding: rem(12);
    min-height: rem(48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    &-icon {
      @include square(rem(30));

      border-radius: 50%;
      display: inline-block;
      background-color: var(--color-accent);
      position: relative;
      transition: var(--transition-duration);
      &::before, &::after {
        @include abs-center;

        content: "";
        height: rem(2);
        width: 70%;
        background-color: #f9fefd;
      }
      &::before {
        rotate: 90deg;
      }
    }
    &.active .accordion__control-icon {
      rotate: 45deg;
    }
    &-title {
      color: var(--color-primary);
      text-align: left;
      transition: var(transition-duration);
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  &__content {
    font-weight: 300;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #fb6406, transparent) 1;
    &-title {

    }
    &-text {
      margin-top: rem(12);
      color: var(--color-accent);
      font-weight: 500;
    }
  }
}