@use "helpers" as *;

.boats {
  &__inner {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
  &__subtitle {

  }
  &__content {
    margin-bottom: rem(40);
    display: flex;
    align-items: center;
    column-gap: rem(40);
    justify-content: space-between;
    @media (max-width: rem(767)) {
      flex-direction: column;
      column-gap: 0;
      row-gap: rem(40);
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 10rem;
    @media (max-width: rem(767)) {
      row-gap: 5rem;
    }
    @media (max-width: rem(480)) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    text-align: center;
    &-title {
      margin-bottom: rem(24);
      color: var(--text);
    }
  }
}
