@use "helpers" as *;

.boat-card {
  padding: rem(24);
  background-color: var(--color-bg);
  border-radius: var(--border-radius-small);
  transition: var(--transition-duration);
  box-shadow: var(--box-shadow-light-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include mobile {
    padding: rem(12);
  }
  &__header {
    border-bottom: 1px solid var(--color-accent);
  }
  &__title {
    @include fluid-text(20, 18);

    //white-space: nowrap;
    font-weight: 500;
    margin-bottom: rem(12);
  }
  &__price {
    @include fluid-text(20, 16);

    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: rem(8);
    transition: var(--transition-duration);
  }
  &__price-hour {
    @include fluid-text(16, 14);
    color: var(--color-primary);
    margin-bottom: rem(12);
    transition: var(--transition-duration);
  }
  &__body {
    padding-block: rem(32);
  }
  &__image {
    margin-bottom: rem(16);
  }
  &__list {}
  &__item {
    padding-left: rem(32);
    position: relative;
    transition: var(--transition-duration);
    &::before {
      @include square(rem(24));

      content: "";
      background-image: url('../img/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
    }
  }
}