@use "helpers" as *;

.boats {
  &__content {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: var(--margin-bottom);
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__description {
    @include tablet {
      margin-bottom: rem(32);
    }
  }
  &__image {
    margin-bottom: rem(48);
  }
  &__info {
    &-text {
      &:first-of-type {
        margin-bottom: rem(8);
        color: var(--color-primary);
        transition: var(--transition-duration);
      }
      &:last-of-type {
        margin-bottom: rem(24);
        color: var(--color-primary);
        transition: var(--transition-duration);
      }
    }
    &-title {
      margin-bottom: rem(8);
      font-weight: 500;
      font-size: rem(20);
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: rem(20);
    @include tablet {
      margin-bottom: var(--margin-bottom);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10);
    }
    @include mobile-s {
      grid-template-columns: 80%;
    }
  }
}
