@use 'helpers' as *;
.button {
  display: block;
  padding: rem(15) rem(35);

  //font-family: var(--font-family-accent);
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;

  border-radius: rem(35);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-darken);
  border: none;

  &:disabled {
    background-color: var(--color-gray);
    cursor: not-allowed;
    &:hover {
      background-color: var(--color-gray);
      color: var(--color-light);
    }
  }

  @include hover() {
    background-color: var(--color-accent);
    color: var(--color-darken);
  }
}