@use "../helpers" as *;

.certificate {
  &__content {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 2rem;
    margin-bottom: var(--margin-bottom);
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
    &-title {
      @include fluid-text(20, 18);
      font-weight: 500;
      margin-bottom: rem(8);
    }
    &-text {
      color: var(--color-primary);
      margin-bottom: rem(16);
      transition: var(--transition-duration);
    }
    &-list {
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
      color: var(--color-primary);
      transition: var(--transition-duration);
    }
    &-image {
      @include mobile {
        justify-self: center;
      }
    }
  }
  &__image {
    @include tablet {
      justify-self: center;
    }
  }
}