@use "../helpers" as *;

.faq {
  &__inner {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
  &__subtitle {
    @include fluid-text(20, 16);

    margin-bottom: rem(48);
    color: var(--text);
  }
  &__content {
    @include fluid-text(16, 14);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(24);
    color: var(--text);
    @media (max-width: rem(667)) {
      grid-template-columns: 1fr;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    //@media (max-width: rem(667)) {
    //  order: 1;
    //}
  }
}