@use "../helpers" as *;

.faq {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(32);
    margin-bottom: var(--margin-bottom);
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__accordion {
    margin-bottom: rem(32);
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      order: -1;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    //@media (max-width: rem(667)) {
    //  order: 1;
    //}
  }
}