@use "../helpers" as *;

.faq {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-bottom: var(--margin-bottom);
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__accordion {
    margin-bottom: rem(32);
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      @include fluid-text(20, 18);

      margin-bottom: rem(12);
    }
    &-text {
      text-align: center;
      color: var(--color-primary);
      transition: var(--transition-duration);
      margin-bottom: rem(32);
    }
    &-image {
      @include mobile {
        order: -1;
      }
    }
  }
}