@use "../helpers" as *;

.feedback {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__image {
    background-image: url('../img/feedback-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 153px;
      height: 100%;
      background: var(--linear-gradien-decor);
    }
  }
  &__info {
    max-width: rem(655);
    &-text {
      @include fluid-text(20, 18);
      margin-bottom: rem(24);
      text-align: center;
    }
  }
}