@use "../helpers" as *;

.feedback {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    color: var(--text);
    @media (max-width: rem(980)) {
      grid-template-columns: 1fr;
    }
  }
  &__info {
    max-width: rem(655);
  }
}