@use "../helpers" as *;

.form {
  width: 100%;
  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: rem(12);
    }
    &-checkbox {
      margin-bottom: rem(32);
      display: flex;
      align-items: center;
    }
  }
  &__input {
    color: var(--color-primary);
    padding: rem(16);
    background-color: var(--color-input-rgba);
    width: 100%;
    border: none;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);

    &::placeholder {
      color: var(--color-gray);
    }
  }
  &__textarea {
    min-height: rem(112);
    color: var(--color-primary);
    padding: rem(16) rem(24);
    width: 100%;
    resize: none;
    background-color: var(--color-input-rgba);
    border: none;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    &::placeholder {
      color: var(--color-gray);
    }
  }
  &__checkbox {
    appearance: none;
    position: absolute;
    visibility: hidden;
    &:focus-visible {
      outline: none;
    }
    &:focus-visible + .form__fake-checkbox {
      outline: rem(2) dashed var(--color-light);
      outline-offset: rem(4);
      transition-duration: 0s !important;
    }
    &:checked + .form__fake-checkbox {
      border-color: var(--color-accent);
      &::after, &::before {
        opacity: 1;
      }
    }
  }
  &__fake-checkbox {
    @include square(rem(24));
    margin-right: rem(12);
    display: inline-block;
    position: relative;
    border: rem(1) solid var(--color-primary);
    cursor: pointer;
    transition: var(--transition-duration);
    &::after, &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: rem(2);
      background-color: var(--color-accent);
      opacity: 0;
      transition: var(--transition-duration);
    }
    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
    &::before {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  &__privacy {
    font-size: rem(14);
    font-weight: 500;
    display: inline-block;
    &-link {
      color: var(--color-accent);
      transition: var(--transition-duration);
      @include hover() {
        color: var(--color-accent-hover);
        transform: scale(1.05);
        text-shadow: var(--text-shadow);
      }
    }
  }
  &__error {
    margin-top: .5rem;
    color: var(--color-error);
  }
  &--feedback {
    .form__label {
      width: 80%;
      &-checkbox {
        width: 100% !important;
        display: flex;
        align-items: center;
      }
      @include mobile {
        width: 100%;
      }
    }
  }
}