@use "helpers" as *;

.gallery {
  &__inner {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
  &__subtitle {
    @include fluid-text(20, 16);

    margin-bottom: rem(48);
    max-width: rem(520);
    color: var(--text);
    transition: var(--transition-duration);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: rem(980)) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: rem(767)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: rem(480)) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }
    &-link {
      display: flex;
      flex-direction: column;
      row-gap: rem(24);
      margin-bottom: rem(48);
    }
    &-text {
      font-family: var(--font-family-accent);
      font-weight: 700;
      color: var(--color-light);
      text-shadow: var(--text-shadow);
      @include fluid-text(32, 24);
    }
    &-button {
      margin-top: auto;
    }
  }
}