@use "helpers" as *;

.modal-rules {
  position: fixed;
  inset: 0;
  background-color: var(--color-modal);
  z-index: 11;
  display: none;
  &__inner {
    position: relative;
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: var(--color-bg);
    max-height: rem(800);
    overflow-y: auto;
    @include abs-center;
    width: 80%;
    @media(max-width: rem(480)) {
      padding-top: rem(40);
    }
  }
  &__title {
    margin-bottom: rem(48);
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
    @media(max-width: rem(1200)) {
      grid-template-columns: 1fr;
    }
  }
  &__info {
    @media(max-width: rem(1200)) {
      order: 1;
    }
    &-title {
      @include fluid-text(18, 14);
      font-weight: 700;
      margin-bottom: rem(16);
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    &-item {
      @include fluid-text(16, 14);
      &:last-child {
        margin-bottom: rem(16);
      }
    }
  }
  &__text {
    @include fluid-text(18, 14);
    font-weight: 700;
    margin-bottom: rem(48);
  }
  &__image {
    @media(max-width: rem(1200)) {
      width: rem(300);
    }
  }
  &__close {
    position: absolute !important;
    top: rem(24);
    right: rem(20);
    width: rem(32);
    height: rem(32);
    border: none;
    background-color: transparent;
    @media(max-width: rem(480)) {
      top: rem(6);
      right: rem(6);
    }
    &-line {
      display: inline-block;
      width: 100%;
      height: rem(2);
      background-color: var(--color-light);
      @include abs-center;
      &:first-child {
        rotate: 45deg;
      }
      &:last-child {
        rotate: -45deg;
      }
    }
  }
}