@use "helpers" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-rgba);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
  &.modal-show {
    animation: fadeIn .3s ease-in-out forwards;
    > .modal__inner {
      animation: fadeInDown .3s ease-in-out forwards;
    }
  }
  &.modal-hide {
    animation: fadeOut .3s ease-in-out forwards;
    > .modal__inner {
      animation: fadeOutUp .3s ease-in-out forwards;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-5rem);
    }
  }
  &__inner {
    position: relative;
    padding: rem(40);
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
    overflow: auto;
    max-width: 90%;
    max-height: 80%;
    transition: var(--transition-duration);
    @include mobile {
      padding: 1rem;
    }
  }
  &__close {
    @include square(rem(32));
    position: absolute !important;
    top: rem(8);
    right: rem(8);
    padding: 1rem;
    border: none;
    background-color: transparent;
    &-line {
      @include abs-center;

      display: inline-block;
      width: 80%;
      height: rem(2);
      background-color: var(--color-primary);

      &:first-child {
        rotate: 45deg;
      }
      &:last-child {
        rotate: -45deg;
      }
    }
  }
  &--feedback {
    z-index: 4;
    .modal__inner {
      position: relative;
    }
    .modal__image {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: .2;
    }
  }
  &--rules {
    .modal__inner {
      width: 65%;
      @include tablet {
        width: 80%;
      }
      @include mobile {
        width: 90%;
      }
    }
  }
  &--privacy {
    z-index: 5;
    .section-subtitle {
      max-width: 100%;
    }
    .modal__inner {
      width: 80%;
      @include mobile {
        width: 90%;
      }
    }
  }
  &--agreement {
    z-index: 5;
    .section-subtitle {
      max-width: 100%;
    }
    .modal__inner {
      width: 80%;
      @include mobile {
        width: 90%;
      }
    }
  }
  &--boat {
    .modal__title {
      margin-bottom: var(--margin-bottom);
    }
    .modal__inner {
      //width: 70%;
      max-width: rem(943);
      @include tablet {
        width: 90%;
      }

    }
  }
}