@use "../helpers" as *;

.route {
  &__content {
    display: grid;
    grid-template-columns: 55% 1fr;
    column-gap: 1rem;
    @include laptop {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
  &__description {
    display: grid;
    grid-template-columns: 1fr 55%;
    column-gap: 1rem;

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
  &__characteristics {
    display: flex;
    align-items: start;
  }
  &__info {
    &-title {
      @include fluid-text(20, 16);
      font-weight: 500;
      margin-bottom: rem(8);
    }
    &-text {
      color: var(--color-primary);
      transition: var(--transition-duration);
      margin-bottom: rem(8);
    }
    &-description {
      margin-top: rem(16);
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
    }
    &-item {
      color: var(--color-primary);
      transition: var(--transition-duration);
    }
  }
  &__image {
    align-self: end;
    img {
      max-width: inherit;
      @include mobile-s {
        max-width: 100%;
      }
    }
  }
  &__table {
    max-width: rem(305);
    position: relative;
    z-index: -1;
    left: rem(-20);
  }
  &__map {
    min-height: rem(405);
    &-frame {
      margin-bottom: rem(8);
      iframe {
        border: none;
      }
    }
    &-text {
      color: var(--color-primary);
      margin: 0;
      transition: var(--transition-duration);
      &:first-child {
        margin-bottom: rem(4);
      }
    }
    &-link {
      transition: var(--transition-duration);
        @include hover() {
          transform: scale(1.05);
          text-shadow: var(--text-shadow);
          color: var(--color-accent-hover);
        }
    }

    @include laptop {
      margin-bottom: var(--margin-bottom);
    }
  }
}
