::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона */
  background: var(--color-accent); /* Цвет фона */
  border-radius: 10px; /* Закругленные углы */
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  background: var(--color-accent);
  border-radius: 10px; /* Закругленные углы */
  border: 3px solid #f1f1f1; /* Отступ вокруг ползунка */
}

/* Изменение цвета ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет при наведении */
}

/* Стилизация для Firefox */
* {
  scrollbar-width: thin; /* Тонкий скроллбар */
  scrollbar-color: #888 #f1f1f1; /* Цвет ползунка и фона */
}