@use "helpers" as *;
.soc1als {
  &__list {
    display: flex;
    column-gap: rem(8);
  }
  &__link {
    transition: var(--transition-duration);
    @include hover() {
      scale: 1.1;
    }
  }
}
