@use "helpers" as *;

.table {
  width: 100%;
  border-radius: var(--border-radius-small);
  background-color: #f9fefd;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  &__tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }
  &__td {
    max-width: rem(135);
    width: 100%;
    padding: rem(8);

    &:first-child {
      background-color: var(--color-accent);
      color: #f9fefd;
    }
    &:last-child {
      text-align: right;
      color: #3d3d3d;
      @include mobile-s {
        padding: rem(4);
      }
    }
  }
}