@use "helpers" as *;

.work {
  &__list {
    margin-bottom: var(--margin-bottom);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding: rem(12);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--color-bg);
    transition: var(--transition-duration);
    border-radius: var(--border-radius-small);
    @include laptop {
      flex-direction: column;
      align-items: center;
    }
    @include mobile-s {
      flex-direction: row;
      align-items: start;
    }
    &-info {
      max-width: 60%;
      @include laptop {
        max-width: 100%;
      }
      @include mobile-s {
        max-width: 60%;
      }
    }
    &-title {
      @include fluid-text(32, 20);
      font-family: var(--font-family-accent);
      white-space: nowrap;
      margin-bottom: rem(8);
      text-transform: uppercase;
      font-weight: 700;
      color: var(--color-primary);
      transition: var(--transition-duration);
    }
    &-text {
      font-weight: 300;
      color: var(--color-primary);
      transition: var(--transition-duration);
    }
    &-time {
      display: block;
      font-weight: 500;
    }
  }
}
