<section class="boats">
  <div class="boats__inner container">
    <h2 class="route__title">лодки</h2>
    <p class="route__subtitle">Аренда современного спортивного инвентаря</p>
    <div class="boats__content">
      <div>
        <img
          class="boats__image"
          width="329"
          height="345"
          src="./img/boats-img.png"
          alt=""
        />
      </div>
      <ul class="boats__list">
        <li class="boats__item">
          <h3 class="boats__item-title">
            Надувной туристический каяк для 2 человек
          </h3>
          <img
            class="boats__item-img"
            src="./img/kayak-1.png"
            alt="Надувной туристический каяк для 2 человек"
          />
        </li>
        <li class="boats__item">
          <h3 class="boats__item-title">
            Надувной туристический каяк для 3 человек
          </h3>
          <img
            class="boats__item-img"
            src="./img/kayak-2.png"
            alt="Надувной туристический каяк для 3 человек"
          />
        </li>
        <li class="boats__item">
          <h3 class="boats__item-title">
            Надувная туристическая доска для серфинга
          </h3>
          <img
            class="boats__item-img"
            src="./img/sup-1.png"
            alt="Надувная туристическая доска для серфинга"
          />
        </li>
        <li class="boats__item">
          <h3 class="boats__item-title">
            Надувная туристическая доска для серфинга
          </h3>
          <img
            class="boats__item-img"
            src="./img/sup-2.png"
            alt="Надувная туристическая доска для серфинга"
          />
        </li>
      </ul>
    </div>
    <button class="button">записаться на сплав</button>
  </div>
</section>
