<section class="boats" id="boats">
  <div class="boats__inner section-inner container">
    <h2 class="visually-hidden">Аренда лодок и сапбордов</h2>
    <p class="boats__title section-title">Лодки</p>
    <p class="boats__subtitle section-subtitle">Аренда современного спортивного инвентаря</p>
    <div class="boats__content">
      <div class="boats__description">
        <figure>
          <picture class="boats__image">
            <source srcset="img/boats.webp" type="image/webp">
            <img loading="lazy" src="img/boats.png" width="652" height="469" alt="">
          </picture>
        </figure>
        <div class="boats__info">
          <p class="boats__info-text">
            Мы предлагаем аренду каяков и сапбордов для всех, кто хочет насладиться водными приключениями. Независимо
            от того, новичок вы или опытный спортсмен, у нас есть оборудование, подходящее именно вам.
          </p>
          <p class="boats__info-text">
            Наши каяки и сапборды — это современные, безопасные и удобные модели, которые подходят для прогулок по
            спокойным водоемам или активных заплывов. Все оборудование проходит регулярное техническое обслуживание, чтобы обеспечить вашу безопасность.
          </p>
          <div class="boats__info-description">
            <p class="boats__info-title text-accent">Готовы к приключениям?</p>
            <p>
              Не откладывайте свои планы! Забронируйте каяк или сапборд прямо сейчас и наслаждайтесь водными прогулками
              в любое удобное время. Мы ждём вас!
            </p>
          </div>
        </div>
        <button class="button js-feedback" aria-label="Забронировать лодку или сапборд">Забронировать</button>
      </div>
      <ul class="boats__list">
        <li class="boats__item">
          <article class="boat-card">
            <div class="boat-card__header">
              <h3 class="boat-card__title text-accent">
                Надувной каяк Itiwit X100+
              </h3>
              <div class="boat-card__prices">
                <p class="boat-card__price">50 бел.руб/чел</p>
                <p class="boat-card__price-hour">25 бел.руб/час</p>
              </div>
            </div>
            <div class="boat-card__body">
              <figure>
                <figcaption class="visually-hidden">Надувной каяк Itiwit X100+</figcaption>
                <picture class="boat-card__image">
                  <source srcset="img/boat-1.webp" type="image/webp">
                  <img loading="lazy" src="./img/boat-1.png" width="336" height="204" alt="Надувной каяк Itiwit X100+">
                </picture>
              </figure>
              <ul class="boat-card__list">
                <li class="boat-card__item">Весла</li>
                <li class="boat-card__item">Спасательный жилет</li>
                <li class="boat-card__item">Гермомешок для личных вещей</li>
                <li class="boat-card__item">Водонепроницаемый чехол для телефона</li>
              </ul>
            </div>
            <div class="boat-card__footer">
              <button class="button button--big js-boat" aria-label="Подробнее о надувном каяке Itiwit X100+">Подробнее</button>
            </div>
          </article>
        </li>
        <li class="boats__item">
          <article class="boat-card">
            <div class="boat-card__header">
              <h3 class="boat-card__title text-accent">
                Надувной каяк Itiwit X100+
              </h3>
              <div class="boat-card__prices">
                <p class="boat-card__price">50 бел.руб/чел</p>
                <p class="boat-card__price-hour">25 бел.руб/час</p>
              </div>
            </div>
            <div class="boat-card__body">
              <figure class="boat-card__image">
                <figcaption class="visually-hidden">Надувной каяк Itiwit X100+</figcaption>
                <picture>
                  <source srcset="img/boat-2.webp" type="image/webp">
                  <img loading="lazy" src="./img/boat-2.png" width="336" height="204" alt="Надувной каяк Itiwit X100+">
                </picture>
              </figure>
              <ul class="boat-card__list">
                <li class="boat-card__item">Весла</li>
                <li class="boat-card__item">Спасательный жилет</li>
                <li class="boat-card__item">Гермомешок для личных вещей</li>
                <li class="boat-card__item">Водонепроницаемый чехол для телефона</li>
              </ul>
            </div>
            <div class="boat-card__footer">
              <button class="button button--big js-boat" aria-label="Подробнее о надувном каяке Itiwit X100+">Подробнее</button>
            </div>
          </article>
        </li>
        <li class="boats__item">
          <article class="boat-card">
            <div class="boat-card__header">
              <h3 class="boat-card__title text-accent">
                Лучшая Сап доска Itiwit X100 10'
              </h3>
              <div class="boat-card__prices">
                <p class="boat-card__price">50 бел.руб/чел</p>
                <p class="boat-card__price-hour">25 бел.руб/час</p>
              </div>
            </div>
            <div class="boat-card__body">
              <figure class="boat-card__image">
                <figcaption class="visually-hidden">Лучшая Сап доска Itiwit X100 10'</figcaption>
                <picture>
                  <source srcset="img/boat-3.webp" type="image/webp">
                  <img loading="lazy" src="./img/boat-3.png" width="336" height="204" alt="Лучшая Сап доска Itiwit X100 10'">
                </picture>
              </figure>
              <ul class="boat-card__list">
                <li class="boat-card__item">Весло</li>
                <li class="boat-card__item">Спасательный жилет</li>
                <li class="boat-card__item">Гермомешок для личных вещей</li>
                <li class="boat-card__item">Водонепроницаемый чехол для телефона</li>
              </ul>
            </div>
            <div class="boat-card__footer">
              <button class="button button--big js-boat" aria-label="Подробнее о лучшей сап доске Itiwit X100 10'">Подробнее</button>
            </div>
          </article>
        </li>
        <li class="boats__item">
          <article class="boat-card">
            <div class="boat-card__header">
              <h3 class="boat-card__title text-accent">
                Сапборд Itiwit X100 11' Синий
              </h3>
              <div class="boat-card__prices">
                <p class="boat-card__price">50 бел.руб/чел</p>
                <p class="boat-card__price-hour">25 бел.руб/час</p>
              </div>
            </div>
            <div class="boat-card__body">
              <figure class="boat-card__image">
                <figcaption class="visually-hidden">Сапборд Itiwit X100 11' Синий</figcaption>
                <picture>
                  <source srcset="img/boat-4.webp" type="image/webp">
                  <img loading="lazy" src="./img/boat-4.png" width="336" height="204" alt="Сапборд Itiwit X100 11' Синий">
                </picture>
              </figure>
              <ul class="boat-card__list">
                <li class="boat-card__item">Весло</li>
                <li class="boat-card__item">Спасательный жилет</li>
                <li class="boat-card__item">Гермомешок для личных вещей</li>
                <li class="boat-card__item">Водонепроницаемый чехол для телефона</li>
              </ul>
            </div>
            <div class="boat-card__footer">
              <button class="button button--big js-boat" aria-label="Подробнее о сапборд Itiwit X100 11' Синий">Подробнее</button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
