<section class="certificate" id="certificate">
    <div class="certificate__inner container">
        <h2 class="certificate__title">сертификат</h2>
        <p class="certificate__subtitle">Простое решение в выборе подарка — сертификат от Брест Каяк</p>
        <div class="certificate__content">
            <div class="certificate__info">
                <p class="certificate__info-text">
                    <span>Сертификат на сплав</span> — хороший подарок на какой-либо праздник или день рождения приятелю, коллеге, близкому человеку. Владелец сертификата будет иметь возможность выбрать подходящий для него день, при этом учесть погодные условия.
                </p>
                <p class="certificate__info-title">Что входит в стоимость сертификата:</p>
                <ul class="certificate__info-list">
                    <li class="certificate__info-item">- прокат каяков(сапбордов) на кол-во чел. указанных в сертификате</li>
                    <li class="certificate__info-item">- весла</li>
                    <li class="certificate__info-item">- спасательный жилет</li>
                    <li class="certificate__info-item">- гермоупаковки</li>
                    <li class="certificate__info-item">- доставка снаряжения</li>
                </ul>
                <button class="button certificate__button js-feedback">заказать сертификат</button>
            </div>
            <picture>
                <source data-srcset="img/certificate.webp" type="image/webp">
                <img
                    class="certificate__image lazyload"
                    loading="lazy"
                    data-src="img/certificate.jpg"
                    width="778"
                    height="366"
                    alt="Сертификат от Брест Каяк"
                >
            </picture>
        </div>
    </div>
</section>