<section class="faq" id="faq">
    <div class="faq__inner section-inner container">
        <h2 class="faq__title section-title">Вопросы</h2>
        <p class="faq__subtitle section-subtitle">Часто задаваемые вопросы</p>
        <div class="faq__content">
            <div>
                <ul class="faq__accordion accordion">
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">Я никогда не сплавлялся. Это сложно?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                Не переживайте! Перед стартом мы проводим подробный инструктаж, а наши инструктор всегда готовы вам помочь.
                                <p class="accordion__content-text">Маршрут подходят как для профессионалов, так и для новичков.</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">Можно ли перевернуться на каяке?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p>При соблюдении правил поведения на сплаве шанс перевернуться близок к нулю.</p>
                                <p class="accordion__content-title">Как избежать переворота:</p>
                                <ul class="accordion__content-list">
                                    <li class="accordion__content-item">Слушайте инструктора и следуйте его рекомендациям.</li>
                                    <li class="accordion__content-item">На сложных участках держитесь группы и не рискуйте без необходимости.</li>
                                </ul>
                                <p class="text-accent">
                                    Перевернуться на каяке — это часть опыта, особенно на бурной воде. С правильной
                                    подготовкой и снаряжением это не опасно, а даже может добавить адреналина и впечатлений!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">А что если дождь?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p>
                                    Сплавы проводятся в любую погоду, кроме штормовых предупреждений. Во время сплава
                                    дождь - это не страшно, а наоборот достаточно позитивно. К тому же отдых на сплаве
                                    подразумевает контакт с водой, поэтому ничего страшного в дожде нет. Даже если вы
                                    промокнете, то по окончанию сплава переодевшись в сухую и теплую одежду, поверьте,
                                    у вас останутся только незабываемые впечатления, которыми вы долго будете делиться со всеми.
                                </p>
                                <p class="accent-text">В случае непогоды мы перенесём ваше мероприятие на другой день.</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">А если я хочу приехать один на сплав. С кем я буду плавать?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p>Не переживайте, если вы приехали один! Вы сможете познакомиться с другими участниками,
                                    разделить с ними впечатления и насладиться приключением в компании единомышленников.
                                    Если вы предпочитаете плыть в одиночку, мы также можем предоставить вам отдельный каяк/сапборд.</p>
                                <p class="accent-text">Ваш комфорт — наш приоритет!</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">Можно ли сплавляться с детьми?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p>
                                    Да, с детьми сплавляться можно. В возрасте до 12 лет ребенок может сесть третьим в
                                    двухместный каяк к двум другим членам экипажа. При этом всем будет комфортно, если
                                    общий вес участников не превышает 250кг.
                                </p>
                                <p>
                                    <span class="text-accent">Важно!</span> Для участия в сплаве с ребенком до 6 лет хотя бы у одного из родителей должен
                                    быть опыт сплава на каяках или умение плавать, также отсутствие боязни воды.
                                </p>
                                <span class="accent-text">Маршрут подходят как для профессионалов, так и для новичков.</span>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">Что нужно взять с собой?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p class="accordion__content-title">Рекомендуем взять:</p>
                                <ul class="accordion__content-list">
                                    <li class="accordion__content-item">Удобную одежду и обувь, которые не боятся воды.</li>
                                    <li class="accordion__content-item">Сменную одежду и обувь после сплава.</li>
                                    <li class="accordion__content-item">Солнцезащитный крем и головной убор.</li>
                                    <li class="accordion__content-item">Воду и перекус.</li>
                                </ul>
                                <p class="text-accent">
                                    Не забудьте взять с собой фотоаппарат – будет много красивых мест для фото!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__control">
                            <span class="accordion__control-title">Какое снаряжение предоставляется?</span>
                            <span class="accordion__control-icon"></span>
                        </button>
                        <div class="accordion__body">
                            <div class="accordion__content">
                                <p class="accordion__content-title">Мы предоставляем:</p>
                                <ul class="accordion__content-list">
                                    <li class="accordion__content-item">Каяки</li>
                                    <li class="accordion__content-item">Сапборды</li>
                                    <li class="accordion__content-item">Спасательные жилеты</li>
                                    <li class="accordion__content-item">Весла</li>
                                    <li class="accordion__content-item">Водонепроницаемые чехлы для телефона</li>
                                    <li class="accordion__content-item">Водонепроницаемые гермомешки для личных вещей</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <p>Если у вас остались вопросы, свяжитесь с нами по телефону или через форму обратной связи.
                    Мы с радостью поможем вам подготовиться к вашему приключению!</p>
            </div>

            <div class="faq__image">
                <picture>
                    <source srcset="img/faq.webp" type="image/webp">
                    <img loading="lazy" src="img/faq.png" width="564" height="508" alt="">
                </picture>
            </div>
        </div>

        <button class="button button--light js-feedback">Задать вопрос</button>
    </div>
</section>