<section class="faq" id="faq">
    <div class="faq__inner container">
        <h2 class="faq__title">Вопросы</h2>
        <p class="faq__subtitle">Часто задаваемые вопросы</p>
        <div class="faq__content">
            <div class="faq__info">
                <ul class="faq__list">
                    <li class="faq__item">
                        <p class="faq__question">
                            Я никогда не участвовал в сплавах. Это сложно?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <p class="faq__answer-text">
                                Все маршруты подходят как для профессионалов, так и для новичков.
                            </p>
                        </div>
                    </li>
                    <li class="faq__item">
                        <p class="faq__question">
                            Можно ли перевернуться на каяке?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <div class="faq__answer-text">
                                При соблюдении <a class="faq__answer-link js-rules" href="#">правил поведения на сплаве</a> шанс перевернуться
                                близок к нулю.
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <p class="faq__question">
                            А что если дождь?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <p class="faq__answer-text">
                                Мы проводим сплавы при любой погоде. Во время сплава дождь - это
                                не страшно, а наоборот достаточно позитивно. К тому же отдых на
                                сплаве подразумевает контакт с водой, поэтому ничего страшного в
                                дожде нет. Даже если вы промокнете, то по окончанию сплава
                                переодевшись в сухую и теплую одежду, поверьте, у вас останутся
                                только незабываемые впечатления, которыми вы долго будете
                                делиться со всеми.
                            </p>
                        </div>
                    </li>
                    <li class="faq__item">
                        <p class="faq__question">
                            А если я хочу приехать один на сплав. с кем я буду плавать?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <p class="faq__answer-text">
                                В групповом сплаве всегда для вас найдется место. Возможны
                                варианты: один в каяке, с кем-то из участников в одном
                                экипаже.
                            </p>
                        </div>
                    </li>
                    <li class="faq__item">
                        <p class="faq__question">
                            Можно ли с детьми?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <p class="faq__answer-text">
                                Да, с детьми сплавляться можно. В возрасте до 12 лет ребенок может сесть третьим в двухместный каяк к
                                двум другим членам экипажа. При этом всем будет комфортно, если общий вес участников не
                                превышает 250кг. Важно! Для участия в сплаве с ребенком до 6 лет хотя бы у одного из
                                родителей должен быть опыт сплава на каяках или умение плавать, также отсутствие боязни воды.
                            </p>
                        </div>
                    </li>
                    <li class="faq__item">
                        <p class="faq__question">
                            Что взять с собой на сплав?
                            <button class="faq__button">
                                <span class="visually-hidden">Показать ответ</span>
                                <span class="faq__button-line"></span>
                            </button>
                        </p>
                        <div class="faq__answer">
                            <p class="faq__answer-text">

                            </p>
                        </div>
                    </li>
                </ul>
                <button class="button">Задать вопрос</button>
            </div>
            <picture>
                <source srcset="img/faq.webp" type="image/webp">
                <img class="faq__image" loading="lazy" src="img/faq.jpg" width="800" height="549" alt="">
            </picture>
        </div>
    </div>
</section>