<section class="feedback" id="feedback">
    <div class="feedback__inner section-inner container">
        <h2 class="visually-hidden">Обратная связь для бронирования сплава по реке Лесная</h2>
        <p class="feedback__title section-title">Обратная связь</p>
        <p class="feedback__subtitle section-subtitle">Задайте нам любой вопрос, напишите или сделайте заказ. Наши менеджеры ответят вам в ближайшее время.</p>
        <div class="feedback__content">
            <div class="feedback__image">
                <picture>
                    <source srcset="img/feedback.webp" type="image/webp">
                    <img
                            loading="lazy"
                            src="img/feedback.png"
                            width="375"
                            height="462"
                            alt=""
                    >
                </picture>
            </div>
            <div class="feedback__info">
                <p class="feedback__info-text text-accent">
                    Не откладывайте приключение на потом! Свяжитесь с нами прямо сейчас и забронируйте свой сплав по реке Лесная!
                </p>
                <form class="feedback__form form">
                    <label class="form__label">
                        <input class="form__input" type="text" name="name" placeholder="Имя...">
                        <span class="form__error"></span>
                    </label>
                    <label class="form__label">
                        <input class="form__input" type="text" name="phone" placeholder="Телефон...">
                        <span class="form__error"></span>
                    </label>
                    <label class="form__label">
                        <textarea class="form__textarea" name="message" placeholder="Ваше сообщение..."></textarea>
                        <span class="form__error"></span>
                    </label>
                        <label class="form__label-checkbox">
                            <input class="form__checkbox" type="checkbox" name="privacy" required>
                            <span class="form__fake-checkbox"></span>
                            <span class="form__privacy">Вы соглашаетесь с
                            <a href="#" class="form__privacy-link  js-privacy">условиями политики конфиденциальности</a></span>
                        </label>
                    <button type="submit" class="form__button button button--big" aria-label="Отправить сообщение" disabled>Отправить сообщение</button>
                </form>
            </div>
        </div>
    </div>
</section>