<section class="feedback" id="feedback">
    <div class="feedback__inner container">
        <h2 class="feedback__title">Обратная связь</h2>
        <p class="feedback__subtitle">Задайте нам любой вопрос, напишите или сделайте заказ. Наши менеджеры ответят вам в ближайшее время.</p>
        <div class="feedback__content">
            <picture>
                <source data-srcset="img/feedback.webp" type="image/webp">
                <img
                    class="feedback__image lazyload"
                    loading="lazy"
                    data-src="img/feedback.png"
                    width="475"
                    height="400"
                    alt=""
                >
            </picture>
            <div class="feedback__info">
                <form class="feedback__form form">
                    <label class="form__label">
                        <input class="form__input" type="text" name="name" placeholder="Имя..."/>
                        <span class="form__error"></span>
                    </label>
                    <label class="form__label">
                        <input class="form__input" type="text" name="phone" placeholder="Телефон..."/>
                        <span class="form__error"></span>
                    </label>
                    <label class="form__label">
                        <textarea class="form__textarea" name="message" placeholder="Ваше сообщение..."></textarea>
                        <span class="form__error"></span>
                    </label>
                        <label class="form__label-checkbox">
                            <input class="form__checkbox" type="checkbox" name="privacy">
                            <span class="form__fake-checkbox"></span>
                            <span class="form__privacy">Вы соглашаетесь с
                            <a href="#" class="form__privacy-link  js-privacy">условиями политики конфиденциальности</a></span>
                        </label>
                    <button type="submit" class="form__button button" disabled>Отправить сообщение</button>
                </form>
            </div>
        </div>
    </div>
</section>