<section class="gallery" id="gallery">
    <div class="gallery__inner container">
        <h2 class="gallery__title">Галерея</h2>
        <p class="gallery__subtitle">Несколько фото наших сплавов</p>
        <div class="gallery__list">
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-1.webp" type="image/webp">
                    <img
                        class="gallery__image lazyload"
                        loading="lazy"
                        data-src="img/gallery-1.jpg"
                        width="384"
                        height="540"
                        alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-2.webp" type="image/webp">
                    <img
                        class="gallery__image lazyload"
                        loading="lazy"
                        data-src="img/gallery-2.jpg"
                        width="384"
                        height="540"
                        alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-3.webp" type="image/webp">
                    <img
                            class="gallery__image lazyload"
                            loading="lazy"
                            data-src="img/gallery-3.jpg"
                            width="384"
                            height="540"
                            alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-4.webp" type="image/webp">
                    <img
                            class="gallery__image lazyload"
                            loading="lazy"
                            data-src="img/gallery-4.jpg"
                            width="384"
                            height="540"
                            alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-5.webp" type="image/webp">
                    <img
                            class="gallery__image lazyload"
                            loading="lazy"
                            data-src="img/gallery-5.jpg"
                            width="384"
                            height="540"
                            alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-6.webp" type="image/webp">
                    <img
                            class="gallery__image lazyload"
                            loading="lazy"
                            data-src="img/gallery-6.jpg"
                            width="384"
                            height="540"
                            alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source data-srcset="img/gallery-7.webp" type="image/webp">
                    <img
                            class="gallery__image lazyload"
                            loading="lazy"
                            data-src="img/gallery-7.jpg"
                            width="384"
                            height="540"
                            alt="Фото галереи"
                    >
                </picture>
            </div>
            <div class="gallery__item">
                <a class="gallery__item-link" href="https://www.instagram.com/kayak_brest"
                   target="_blank"
                   aria-label="Инстаграм"
                   title="Инстаграм">
                    <picture>
                        <source data-srcset="img/gallery.webp" type="image/webp">
                        <img
                            class="lazyload"
                            loading="lazy"
                            data-src="img/gallery.png"
                            width="385"
                            height="300"
                            alt="Перейти в инстаграм"
                        >
                    </picture>
                    <span class="gallery__item-text">Больше фото и видео в instagram</span>
                </a>
                <button class="gallery__item-button button js-feedback">Записаться на сплав</button>
            </div>
        </div>
    </div>
</section>