<section class="gallery" id="gallery">
    <div class="gallery__inner container">
        <h2 class="gallery__title">Галерея</h2>
        <div class="gallery__list">
<!--            <div class="gallery__item gallery__item&#45;&#45;1">-->
<!--                <img src="./img/gallery-1.jpg" alt="">-->
<!--            </div>-->
            <div class="gallery__item gallery__item--2">
                <img src="./img/gallery-2.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--3">
                <img src="./img/gallery-3.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--4">
                <img src="./img/gallery-4.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--5">
                <img src="./img/gallery-5.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--6">
                <img src="./img/gallery-6.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--7">
                <img src="./img/gallery-7.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--8">
                <img src="./img/gallery-8.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--9">
                <img src="./img/gallery.png" width="700" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quis.</p>
                <button class="button">button</button>
            </div>
            <div class="gallery__item gallery__item--10">
                <img src="./img/gallery-9.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item--11">
                <img src="./img/gallery-10.jpg" alt="">
            </div>
        </div>
    </div>
</section>