<section class="gallery" id="gallery">
    <div class="gallery__inner section-inner container">
        <h2 class="gallery__title section-title">Галерея</h2>
        <p class="gallery__subtitle section-subtitle">Галерея наших приключений</p>
        <div class="gallery__content">
            <div class="gallery__list">
                <div class="gallery__item tall">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-1.jpg">
                        <picture>
                            <source srcset="img/gallery-1.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-1.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-12.jpg">
                        <picture>
                            <source srcset="img/gallery-12.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-12.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-5.jpg">
                        <picture>
                            <source srcset="img/gallery-5.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-5.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-3.jpg">
                        <picture>
                            <source srcset="img/gallery-3.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-3.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-11.jpg">
                        <picture>
                            <source srcset="img/gallery-11.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-11.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-6.jpg">
                        <picture>
                            <source srcset="img/gallery-6.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-6.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item ">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-7.jpg">
                        <picture>
                            <source srcset="img/gallery-7.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-7.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item tall">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-8.jpg">
                        <picture>
                            <source srcset="img/gallery-8.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-8.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-9.jpg">
                        <picture>
                            <source srcset="img/gallery-9.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-9.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-10.jpg">
                        <picture>
                            <source srcset="img/gallery-10.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-10.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item tall wide">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-2.jpg">
                        <picture>
                            <source srcset="img/gallery-2.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-2.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item tall">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-4.jpg">
                        <picture>
                            <source srcset="img/gallery-4.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-4.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-13.jpg">
                        <picture>
                            <source srcset="img/gallery-13.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-13.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__link" tabindex="-1" data-fancybox="photo-gallery" href="./img/gallery-14.jpg">
                        <picture>
                            <source srcset="img/gallery-14.webp" type="image/webp">
                            <img class="gallery__image" loading="lazy" src="img/gallery-14.jpg" width="960" height="1350" alt="Фото галереи">
                        </picture>
                    </a>
                </div>
            </div>
            <button class="gallery__button-more button--accent button" type="button">Загрузить больше фото</button>
        </div>

        <div class="gallery__info">
            <div class="gallery__info-reservation">
                <picture>
                    <source srcset="img/gallery-img.webp" type="image/webp">
                    <img class="gallery__info-image" loading="lazy" src="img/gallery-img.png" width="575" height="453" alt="">
                </picture>
                <p class="gallery__info-text">
                    Хотите оказаться на этих фотографиях? Забронируйте место в следующем сплаве прямо сейчас!
                </p>
                <button class="gallery__info-button button button--light js-feedback">Забронировать сплав</button>
            </div>
            <div class="gallery__info-join">
                <a class="gallery__info-link" href="https://www.instagram.com/kayak_brest" target="_blank" aria-label="Инстаграм" title="Инстаграм"
                >
                    <p class="gallery__info-text">
                        Каждый сплав — это новые эмоции, яркие впечатления и незабываемые моменты.
                        Присоединяйтесь к нам, чтобы окунуться в мир приключений!
                    </p>
                    <span class="gallery__info-more">Больше фото и видео в <span class="text-accent">instagram</span></span>
                    <picture>
                        <source srcset="img/gallery.webp" type="image/webp">
                        <img class="gallery__info-image" loading="lazy" src="img/gallery.png" width="647" height="482" alt="Перейти в инстаграм">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>