<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <meta
    name="description"
    content="☑️Сплавы на байдарках. Сплавы на байдарках(каяках) и сапбордах в Брест. ☑️Аренда байдарок и сап-бордов.
      ☑️Проводим сплавы и выезды на природу.
      Веселые покатушки на байдарках(каяках), сапбордах. ☑️Сделать фотосессию и получить массу
      положительных эмоций с пользой для здоровья. Актуальный отдых."
  />
  <meta
    name="keywords"
    content="каяки, kayaks, актуальный отдых, байдарки, река Лесная, озера Красный Двор, сплавы,
      сплавы на каяках по реке лесная, река лесная, сапсерфинг, sup, серфинг, сапбординг, сап бординг, сапборд, сап серфинг, водный отдых в Бресте в Беларуси"
  />
  <meta property="og:url" content="https://sashaok47.github.io/new-kayak/" />
  <meta
    property="og:title"
    content="Сплавы на байдарках и сапбордах | Каяки Брест"
  />
  <meta
    property="og:description"
    content="☑️Сплавы на байдарках. Сплавы на байдарках(каяках) и сапбордах в Брест. ☑️Аренда байдарок и сап-бордов.
      ☑️Проводим сплавы и выезды на природу.
      Веселые покатушки на байдарках(каяках), сапбордах. ☑️Сделать фотосессию и получить массу
      положительных эмоций с пользой для здоровья. Актуальный отдых."
  />
  <meta property="og:type" content="website" />
  <meta
    property="og:image"
    content="https://i124.fastpic.org/thumb/2025/0212/1f/270dd12dc2ece1f433e00954d91c3f1f.jpeg"
  />
  <title>Сплавы на байдарках и сапбордах | Байдарки Брест</title>
  <link rel="stylesheet" href="css/main.css" />
  <script
    type="text/javascript"
    charset="utf-8"
    async
    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27b3b08a6e91a2ad547667e3b957b29e46e184908634561e9684f60f94be7a0d&amp;width=100%&amp;height=340&amp;id=mymap&amp;lang=ru_RU&amp;scroll=true"
  ></script>
  <script defer src="js/main.js"></script>
</head>
