<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Сплавы на байдарках и сапбордах в Бресте по реке Лесная | Брест Каяк</title>
  <meta name="description" content="Организуем увлекательные сплавы на байдарках(каяках) и сапбордах по реке Лесная в Бресте.
  Прокат оборудования, маршруты для начинающих и опытных, групповые туры. Забронируйте ваш сплав прямо сейчас!">
  <meta name="keywords" content="сплавы на байдарках Брест, сплавы на каяках Брест, сапборды Брест, река Лесная,
  аренда каяков, аренда байдарок, сплавы по реке, активный отдых Брест, туры на сапбордах, каякинг Брест, Брест Каяк">
  <meta name="author" content="Брест Каяк">
  <!-- OpenGraph-разметка для социальных сетей -->
  <meta property="og:title" content="Сплавы на байдарках(каяках) и сапбордах в Бресте по реке Лесная | Брест Каяк">
  <meta property="og:description" content="Организуем увлекательные сплавы на каяках и сапбордах по реке Лесная в Бресте.
  Прокат оборудования, маршруты для начинающих и опытных, групповые туры. Забронируйте ваш сплав прямо сейчас!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://brest-kayak.by">
  <meta property="og:image" content="https://i124.fastpic.org/big/2025/0216/d9/48183705cfabc48f4ff5244cced33bd9.jpg">
  <meta property="og:site_name" content="Брест Каяк">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Сплавы на байдарках и сапбордах в Бресте по реке Лесная | Брест Каяк">
  <meta name="twitter:description" content="Организуем увлекательные сплавы на байдарках(каяках) и сапбордах по реке Лесная в Бресте.
  Прокат оборудования, маршруты для начинающих и опытных, групповые туры. Забронируйте ваш сплав прямо сейчас!">
  <meta name="twitter:image" content="https://i124.fastpic.org/big/2025/0216/d9/48183705cfabc48f4ff5244cced33bd9.jpg">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <meta name="yandex-verification" content="05819781bac7848d">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <link
    rel="preload" as="image"
    href="img/hero-bg-desktop.webp"
    type="image/webp"
    media="(max-width: 480.98px)"
    imagesrcset="images/hero-bg-mobile.webp">

  <!-- Preload для PNG (фолбэк) -->
  <link
          rel="preload"
          as="image"
          href="img/hero-bg-desktop.png"
          type="image/png"
          media="(max-width: 480.98px)"
          imagesrcset="images/hero-bg-mobile.png">
<!--  <link rel="preload" href="fonts/Buyan-Regular.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Buyan-Bold.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Oswald-Medium.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Oswald-SemiBold.woff2" as="font" type="font/woff2" crossorigin>-->
<!--  <link rel="preload" href="fonts/Oswald-Bold.woff2" as="font" type="font/woff2" crossorigin>-->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/app.js"></script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Брест Каяк",
      "image": "https://www.brest-kayak.by/img/logo.svg",
      "description": "Организация сплавов на каяках и сапбордах по реке Лесная в Бресте. Прокат оборудования, групповые туры, маршруты для начинающих и опытных.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Зеленая 2А",
        "addressLocality": "Брест",
        "postalCode": "225215",
        "addressCountry": "Беларусь"
      },
      "telephone": "+375336686464",
      "openingHours": "Mo-Su 07:00-21:00",
      "url": "https://www.brest-kayak.by",
      "sameAs": [
        "https://www.instagram.com/kayak_brest",
        "https://t.me/+fCAMwMd1OmtkMmUy"
      ],
      "priceRange": "$$",
      "service": [
        {
          "@type": "Service",
          "name": "Сплавы на каяках",
          "description": "Увлекательные сплавы на каяках по реке Лесная в Бресте. Прокат оборудования, маршруты для начинающих и опытных.",
          "offers": {
            "@type": "Offer",
            "price": "50",
            "priceCurrency": "BYN",
            "availability": "https://schema.org/InStock"
          }
        },
        {
          "@type": "Service",
          "name": "Сплавы на сапбордах",
          "description": "Увлекательные сплавы на сапбордах по реке Лесная в Бресте. Прокат оборудования, маршруты для начинающих и опытных.",
          "offers": {
            "@type": "Offer",
            "price": "50",
            "priceCurrency": "BYN",
            "availability": "https://schema.org/InStock"
          }
        }
      ],
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Galina Pavlova"
        },
        "reviewBody": "Сплав на каяках - это лучшее приключение этого лета. Ездили всей семьёй, все отлично организовано и безопасно. Незабываемые эмоции вам обеспечены. На протяжении всего маршрута красочные пейзажи и пение птиц. Однозначно рекомендую!!!!"
      }
    }
  </script>
</head>
