<section class="hero">
  <div class="hero__inner container">
    <div class="hero__description">
      <p class="hero__subtitle">
        <span class="hero__subtitle-text">новый</span>
        <span class="hero__subtitle-text"> сезон </span>
      </p>
      <h1 class="hero__title">сплавы на каяках и сапбордах</h1>
      <button class="hero__button button js-feedback">записаться на сплав</button>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="./img/hero-bg.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero-bg.png"
          width="681"
          height="704"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
