<div class="modal modal--rules">
    <div class="modal__inner">
        <button class="modal__close" type="button" aria-label="Закрыть модальное окно" title="Закрыть модальное окно">
            <span class="modal__close-line"></span>
            <span class="modal__close-line"></span>
        </button>
        <h2 class="modal__title section-title">Правила поведения на сплаве</h2>
        <p class="modal__subtitle section-subtitle">Правила поведения на сплаве важны для обеспечения безопасности всех участников и сохранения окружающей среды.</p>
        <div class="modal__content rules-content">
            <picture>
                <source srcset="./img/modal-rules.webp" type="image/webp" />
                <img class="rules-content__image" src="img/modal-rules.png" width="327" height="496" alt=""/>
            </picture>
            <div class="rules-content__description">
                <p class="rules-content__title">Вот основные рекомендации:</p>
                <dl class="rules-content__list">
                    <dt class="rules-content__subtitle">1. Подготовка к сплаву</dt>
                    <dd class="rules-content__text">- Пройдите обязательный инструктаж по технике безопасности. Узнайте о маршруте, возможных опасностях и правилах поведения на воде.</dd>
                    <dd class="rules-content__text">- Проверьте, что у вас есть спасательные жилеты, шлемы (если требуется) и гермомешки для вещей.</dd>
                    <dd class="rules-content__text">- Наденьте удобную одежду и обувь, которая не скользит и не сковывает движения.</dd>
                    <dd class="rules-content__text">- Узнайте прогноз погоды. Не выходите на воду в случае штормового предупреждения или других неблагоприятных условий.</dd>

                    <dt class="rules-content__subtitle">2. На воде</dt>
                    <dd class="rules-content__text">- Не вставайте в каяке.</dd>
                    <dd class="rules-content__text">- Всегда носите спасательный жилет, даже если вы уверены в своих плавательных навыках.</dd>
                    <dd class="rules-content__text">- Соблюдайте безопасную дистанцию между плавсредствами, чтобы избежать столкновений.</dd>
                    <dd class="rules-content__text">- Запрещено употреблять алкоголь или наркотические вещества во время сплава.</dd>

                    <dt class="rules-content__subtitle">3. В экстренных ситуациях</dt>
                    <dd class="rules-content__text">- Если вы упали в воду, не паникуйте. Держитесь за плавсредство или плывите к берегу, если это безопасно.</dd>
                    <dd class="rules-content__text">- Если кто-то из участников оказался в воде, окажите помощь, но не подвергайте себя опасности.</dd>

                    <dt class="rules-content__subtitle">4. На стоянках</dt>
                    <dd class="rules-content__text">- Не оставляйте мусор, не рубите деревья и не нарушайте природный ландшафт. Соблюдайте правила "не оставлять следов".</dd>
                    <dd class="rules-content__text">- Разводите костер только в разрешенных местах и следите, чтобы он был полностью потушен перед уходом.</dd>
                    <dd class="rules-content__text">- Не отходите далеко от лагеря без предупреждения. Избегайте контакта с дикими животными.</dd>

                    <dt class="rules-content__subtitle">5. Общие рекомендации</dt>
                    <dd class="rules-content__text">- Убедитесь, что вы и ваши спутники готовы к физическим нагрузкам.</dd>
                    <dd class="rules-content__text">- Пейте достаточно воды, чтобы поддерживать силы.</dd>
                    <dd class="rules-content__text">- Уважайте других участников сплава и местных жителей, если маршрут проходит рядом с населенными пунктами.</dd>
                </dl>

                <p class="rules-content__warning text-accent">Соблюдение этих правил поможет сделать ваш сплав безопасным, комфортным и запоминающимся!</p>
                <button class="rules-content__button button button--accent js-feedback">Записаться на сплав</button>
            </div>
        </div>
    </div>
</div>