<div class="modal modal--boat">
    <div class="modal__inner">
        <button class="modal__close" type="button" aria-label="Закрыть модальное окно" title="Закрыть модальное окно">
            <span class="modal__close-line"></span>
            <span class="modal__close-line"></span>
        </button>
        <h2 class="modal__title section-title">Сапборд Itiwit X100 11' Синий</h2>
        <div class="modal__content boat-content">
            <div class="boat-content__info">
                <picture>
                    <source srcset="img/boat-big-4.webp" type="image/webp">
                    <img class="boat-content__image" loading="lazy" src="img/boat-big-4.png" width="647" height="346" alt="Сапборд Itiwit X100 11' Синий">
                </picture>
                <div class="boat-content__specifications">
                    <p class="boat-content__info-title">Технические характеристики</p>
                    <table class="boat-content__info-table table">
                        <tbody>
                        <tr class="table__tr">
                            <td class="table__td">Тип SUP-борда</td>
                            <td class="table__td">Надувной</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Вес</td>
                            <td class="table__td">10.5 кг</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Длина</td>
                            <td class="table__td">335 см</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Ширина</td>
                            <td class="table__td">86 см</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Грузоподъёмность</td>
                            <td class="table__td">130 кг</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Рекомендуемое кол-во пассажиров</td>
                            <td class="table__td">2 чел</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Максимальное кол-во пассажиров</td>
                            <td class="table__td">2 чел</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Количество плавников</td>
                            <td class="table__td">1 шт</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="boat-content__description">
                <p class="boat-content__text">
                    Сап доска Itiwit X100 11' Синий имеет отличные характеристики, с помощью который модель отлично
                    чувствует себя на воде. Коврик с противоскользящим покрытием позволит вам уверенно стоять на надувной доске.
                </p>
                <p class="boat-content__text">
                    Сап борд весит всего 10,5 кг и может выдерживать нагрузку до 130 кг. С помощью эластичной
                    шнуровки в носовой части можно закрепить все необходимые вещи. Объём сапа в 244 литра позволит вам
                    быстро накачать SUP board. Сапсёрф оснащён одним прочным плавником для наилучшей управляемости
                    на воде. Благодаря современному методу изготовления из двухслойного ПВХ сабборд не прогибается под
                    весом пользователя.
                </p>
            </div>
            <button class="boat-content__button button button--accent js-feedback">Забронировать каяк</button>
        </div>
    </div>
</div>