<div class="modal modal--feedback">
    <div class="modal__inner">
        <button class="modal__close" type="button" aria-label="Закрыть модальное окно" title="Закрыть модальное окно">
            <span class="modal__close-line"></span>
            <span class="modal__close-line"></span>
        </button>
        <h2 class="visually-hidden">Обратная связь для бронирования сплава по реке Лесная</h2>
        <p class="modal__title section-title">Обратная связь</p>
        <p class="modal__subtitle section-subtitle">Задайте нам любой вопрос, напишите или сделайте заказ.
            Наши менеджеры ответят вам в ближайшее время.</p>
        <div class="modal__content">
            <form class="modal__form form">
                <label class="form__label">
                    <input class="form__input" type="text" name="name" placeholder="Ваше имя">
                    <span class="form__error"></span>
                </label>
                <label class="form__label">
                    <input class="form__input" type="text" name="phone" placeholder="Ваш телефон">
                    <span class="form__error"></span>
                </label>
                <label class="form__label">
                    <textarea class="form__textarea" name="message" placeholder="Ваше сообщение"></textarea>
                    <span class="form__error"></span>
                </label>
                <label class="form__label-checkbox">
                    <input class="form__checkbox" type="checkbox" name="privacy">
                    <span class="form__fake-checkbox"></span>
                    <span class="form__privacy">Вы соглашаетесь с
                        <a href="#" class="form__privacy-link js-privacy">условиями политики конфиденциальности</a>
                    </span>
                </label>
                <button class="form__button button button--big" aria-label="Отправить сообщение" disabled>Отправить сообщение</button>
            </form>
        </div>
    </div>
</div>