<div class="modal-feedback">
    <div class="modal-feedback__inner container">
        <h2 class="modal-feedback__title">Обратная связь</h2>
        <p class="modal-feedback__subtitle">Задайте нам любой вопрос, напишите или сделайте заказ. Наши менеджеры ответят вам в ближайшее время.</p>
        <div class="modal-feedback__content">
            <form class="modal-feedback__form form form--feedback">
                <label class="form__label">
                    <input class="form__input" type="text" name="name" placeholder="Имя..."/>
                    <span class="form__error"></span>
                </label>
                <label class="form__label">
                    <input class="form__input" type="text" name="phone" placeholder="Телефон..."/>
                    <span class="form__error"></span>
                </label>
                <label class="form__label">
                    <textarea class="form__textarea" name="message" placeholder="Ваше сообщение..."></textarea>
                    <span class="form__error"></span>
                </label>
                    <label class="form__label-checkbox">
                        <input class="form__checkbox" type="checkbox" name="privacy">
                        <span class="form__fake-checkbox"></span>
                        <span class="form__privacy">Вы соглашаетесь с
                            <a href="#" class="form__privacy-link js-privacy">условиями политики конфиденциальности</a></span>
                    </label>
                <button class="form__button button" disabled>Отправить сообщение</button>

            </form>
            <button
                    class="modal-feedback__close js-feedback-close"
                    type="button"
                    aria-label="Закрыть модальное окно"
                    title="Закрыть модальное окно"
            >
                <span class="modal-rules__close-line"></span>
                <span class="modal-rules__close-line"></span>
            </button>
        </div>
    </div>
</div>