<div class="modal modal--boat">
    <div class="modal__inner">
        <button class="modal__close" type="button" aria-label="Закрыть модальное окно" title="Закрыть модальное окно">
            <span class="modal__close-line"></span>
            <span class="modal__close-line"></span>
        </button>
        <h2 class="modal__title section-title">Надувной каяк Itiwit X100+</h2>
        <div class="modal__content boat-content">
            <div class="boat-content__info">
                <picture>
                    <source srcset="img/boat-big-2.webp" type="image/webp">
                    <img class="boat-content__image" loading="lazy" src="img/boat-big-2.png" width="420" height="377" alt="Надувной каяк Itiwit X100+">
                </picture>
                <div class="boat-content__specifications">
                    <p class="boat-content__info-title">Технические характеристики</p>
                    <table class="boat-content__info-table table">
                        <tbody>
                        <tr class="table__tr">
                            <td class="table__td">Тип каяка</td>
                            <td class="table__td">Надувной</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Вес</td>
                            <td class="table__td">18 кг</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Длина</td>
                            <td class="table__td">410 см</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Ширина</td>
                            <td class="table__td">102 см</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Грузоподъёмность</td>
                            <td class="table__td">220 кг</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Рекомендуемое кол-во пассажиров</td>
                            <td class="table__td">2/3 чел</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Максимальное кол-во пассажиров</td>
                            <td class="table__td">3 чел</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Количество плавников</td>
                            <td class="table__td">3 шт</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="boat-content__description">
                <p class="boat-content__text">
                    Прочный надувной каяк с дном высокого давления Dropstitch и 3-мя поднятыми сиденьями для комфортной
                    гребли. Хороший компромисс между стабильностью и производительностью.
                </p>
                <p class="boat-content__text">
                    Идеальное решение для любителей активного отдыха на воде, которые ценят комфорт, надежность и
                    простоту в использовании. Этот каяк разработан для тех, кто хочет наслаждаться водными приключениями
                    в компании друзей или семьи.
                </p>
                <p class="boat-content__text text-accent">
                    Itiwit X100+ 3-местный каяк – это надежный и удобный выбор, который подарит вам незабываемые
                    впечатления от водных приключений!
                </p>
            </div>
            <button class="boat-content__button buttonjs-feedback" aria-label="Забронировать надувной каяк Itiwit X100+">Забронировать каяк</button>
        </div>
    </div>
</div>