<section class="route" id="route">
  <div class="route__inner container">
    <h2 class="route__title">маршрут</h2>
    <p class="route__subtitle">Сплавы проходят по реке Лесная</p>
    <div class="route__content">
      <div class="route__info">
        <table class="route__table">
          <tbody>
            <tr>
              <td>Тип сплава</td>
              <td>Дневной</td>
            </tr>
            <tr>
              <td>Протяженность</td>
              <td>~13км</td>
            </tr>
            <tr>
              <td>Длитенность</td>
              <td>2,5-3 часа</td>
            </tr>
            <tr>
              <td>Старт</td>
              <td>д.Тюхиничи</td>
            </tr>
            <tr>
              <td>Финиш</td>
              <td>д.Пески</td>
            </tr>
            <tr>
              <td>Стоимость</td>
              <td>50 бел.руб./чел.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="route__map">
        <div id="mymap" class="route__map-frame">
          <iframe
            data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A27b3b08a6e91a2ad547667e3b957b29e46e184908634561e9684f60f94be7a0d&amp;source=constructor" width="100%" height="340" frameborder="0"
            class="lazyload"
            title="Карта сплава"
          ></iframe>
        </div>
        <div class="route__map-info">
          <p>
            Сбор на берегу р. Лесная в деревне Тюхиничи
            <span>(широта: 52°9′19″N, долгота: 23°40′27″E)</span>. Финиш в
            деревне Пески.
          </p>
          <p>
            <span>Прибыть за 30 минут до начала сплава</span>. Машины оставлять
            возле магазина “Родный Кут” или вдоль забора
          </p>
        </div>
      </div>
    </div>
    <button class="button js-rules">правила поведения на сплаве</button>
  </div>
</section>
