<section class="work" id="work">
  <div class="work__inner container">
    <h2 class="work__title">как мы работаем</h2>
    <p class="route__subtitle">Как всё организовано</p>
    <ul class="work__list">
      <li class="work__item work__item--one">
        <h3 class="work__item-title">Бронирование</h3>
        <p class="work__item-text">
          Свяжитесь с нами и сообщите удобные для Вас дату и время для сплава, а
          также количество человек.
        </p>
      </li>
      <li class="work__item work__item--two">
        <h3 class="work__item-title">Прибытие</h3>
        <p class="work__item-text">
          Вам нужно прибыть к точке старта за 30 минут до начала проведения
          сплава.
        </p>
      </li>
      <li class="work__item work__item--three">
        <h3 class="work__item-title">Инструктаж</h3>
        <p class="work__item-text">
          Внимательно послушать краткий инструктаж и рекомендации перед сплавом.
        </p>
      </li>
      <li class="work__item work__item--four">
        <h3 class="work__item-title">Экипировка</h3>
        <p class="work__item-text">
          Вам выдадут жилет, универсальный водонепроницаемый чехол для телефона
          и гермомешок.
        </p>
      </li>
      <li class="work__item work__item--five">
        <h3 class="work__item-title">Сплав</h3>
        <p class="work__item-text">
          Для Вас подберут каяк или сапборд, вёсла в соответствии с Вашим ростом
          и весом.
        </p>
      </li>
      <li class="work__item work__item--six">
        <h3 class="work__item-title">доставка на финиш</h3>
        <p class="work__item-text">
          Водителей автомобилей доставят на точку старта сплава к своим авто.
        </p>
      </li>
    </ul>
    <button class="button">записаться на сплав</button>
  </div>
</section>
