<section class="work" id="work">
  <div class="work__inner section-inner container">
    <h2 class="work__title section-title">Как мы работаем</h2>
    <p class="route__subtitle section-subtitle">Как проходит процесс организации вашего приключения</p>
    <ul class="work__list">
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">Бронирование</h3>
          <p class="work__item-text">
            Оставьте заявку на сайте или позвоните нам и сообщите удобные для Вас дату и время для сплава, а также количество человек.
          </p>
        </div>
          <picture>
            <source srcset="./img/work-1.webp" type="image/webp" />
            <img class="work__item-image" src="img/work-1.png" width="145" height="195" alt=""/>
          </picture>
      </li>
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">Начало сплава</h3>
          <p class="work__item-text">
            Встречаем вас в назначенном месте. Вам нужно прибыть к точке старта за 30 минут до начала проведения сплава.
          </p>
        </div>
        <picture>
          <source srcset="./img/work-2.webp" type="image/webp" />
          <img class="work__item-image" src="img/work-2.png" width="145" height="195" alt=""/>
        </picture>
      </li>
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">Инструктаж</h3>
          <p class="work__item-text">
            Внимательно послушайте краткий инструктаж по технике безопасности и основам управления плавсредствами.
          </p>
        </div>
        <picture>
          <source srcset="./img/work-3.webp" type="image/webp" />
          <img class="work__item-image" src="img/work-3.png" width="145" height="195" alt=""/>
        </picture>
      </li>
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">Экипировка</h3>
          <p class="work__item-text">
            Для Вас подберут каяк или сапборд, вёсла в соответствии с Вашим ростом и весом. Выдадут жилет, универсальный
            водонепроницаемый чехол для телефона и гермомешок.
          </p>
        </div>
        <picture>
          <source srcset="./img/work-4.webp" type="image/webp" />
          <img class="work__item-image" src="img/work-4.png" width="145" height="195" alt=""/>
        </picture>
      </li>
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">В процессе сплава</h3>
          <p class="work__item-text">
            Делаем остановки для отдыха, фото и наслаждения природой.
            <span class="work__item-time text-accent">Время сплава ограничено!</span>
          </p>
        </div>
        <picture>
          <source srcset="./img/work-5.webp" type="image/webp" />
          <img class="work__item-image" src="img/work-5.png" width="145" height="195" alt=""/>
        </picture>
      </li>
      <li class="work__item">
        <div class="work__item-info">
          <h3 class="work__item-title">Завершение</h3>
          <p class="work__item-text">
            В конце маршрута организуем трансфер водителей обратно к своим авто.
          </p>
        </div>
        <picture>
          <source srcset="./img/work-6.webp" type="image/webp" />
          <img class="work__item-image" src="img/work-6.png" width="145" height="195" alt=""/>
        </picture>
      </li>
    </ul>
    <button class="button button--light js-feedback">Записаться на сплав</button>
  </div>
</section>
