@use 'helpers' as *;
body {
  @include fluid-text(16, 14);

  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  //background: linear-gradient(135deg, #a8d8ff, #c2e4ff);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: var(--transition-duration);

  &.no-scroll {
    overflow: hidden;
  }
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration-hover);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) solid var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));
      content: '';
    }
  }
}

main {
  flex-grow: 1;
}

section {
  margin-bottom: rem(120);
  @media (max-width: rem(480)) {
    margin-bottom: rem(80);
  }
}
.section-inner {
  padding-block: rem(40);
}
.section-title {
  @include fluid-text(48, 24);

  font-family: var(--font-family-accent);
  font-weight: 700;
  color: var(--color-text);
  line-height: 1;
  margin-bottom: rem(4);
}
.section-subtitle {
  @include fluid-text(20, 18);

  color: var(--color-text);
  margin-bottom: var(--margin-bottom);
}
.text-accent {
  color: var(--color-accent);
}


