@use "helpers" as *;

body {
  @include fluid-text(16, 14);
  font-family: var(--font-family-base);
  color: var(--color-primary);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  //transition: var(--transition-duration);
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration-hover);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) solid var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));
      content: '';
    }
  }
}

main {
  flex-grow: 1;
}

section {
  margin-bottom: rem(120);
  @include mobile-s {
    margin-bottom: rem(60);
  }
}
.section-inner {
  padding-block: rem(40);
}
.section-title {
  @include fluid-text(48, 32);

  font-family: var(--font-family-accent);
  font-weight: 700;
  color: var(--color-primary);
  line-height: 1;
  margin-bottom: rem(4);
  transition: var(--transition-duration);
}
.section-subtitle {
  @include fluid-text(20, 16);

  max-width: rem(520);
  color: var(--color-primary);
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}
.text-accent {
  color: var(--color-accent);
}

p {
  color: var(--color-primary);
  transition: var(--transition-duration);
}




