@use 'helpers' as *;

html {
  &.no-scroll {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

section {
  position: relative;
  margin-bottom: rem(120);
  &::after {
    content: "";
    width: 100%;
    height: rem(80);
    background: var(--color-decor-blur);
    position: absolute;
    left: 0;
    bottom: rem(-80);
    filter: blur(50px);
  }
}

h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
  font-weight: 700;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

h1, .h1 {
  @include fluid-text(48, 24);
}
h2, .h2 {
  @include fluid-text(58, 28);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));
      content: '';
    }
  }
}
